{{define "footer"}}
<!-- Footer -->
<footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>EduMan</h4>
    <p>Powered by <a href="https://www.vieo.tv" target="_blank">vieo</a></p>
</footer>
{{end}}









