{{define "content"}}
<!-- Header -->
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Admin Dashboard</b></h5>
</header>

<div class="w3-container">
    <div class="w3-content">
	<div class="w3-row w3-center">
	    <div class="w3-col s12 m4 w3-padding-large">
		<a href="/admin/teachers">
		    <div class="w3-card w3-padding-large w3-white">Teachers</div>
		</a>
	    </div>
	    <div class="w3-col s12 m4 w3-padding-large">
		<a href="/admin/parents">
		    <div class="w3-card w3-padding-large w3-white">Parents</div>
		</a>
	    </div>
	    <div class="w3-col s12 m4 w3-padding-large">
		<a href="/admin/students">
		    <div class="w3-card w3-padding-large w3-white">Students</div>
		</a>
	    </div>
	</div>
    </div>
</div>

{{end}}
