{{define "nav"}}
<!-- Top container -->
<div class="w3-bar w3-top w3-white w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
    <span>Admin Dashboard</span>
    <a href="/logout"><span class="w3-bar-item w3-right w3-text-red">Logout</span></a>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-center" style="padding-top:64px">
	<!--div class="w3-col s4">
	    <img src="/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
	</div-->
	<div class="w3-col s8 w3-bar">
	    <span>Welcome, <strong>{{.Name}}</strong></span><br>
	    <!--a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
	    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
	    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a-->
	</div>
    </div>
    <hr>
    <div class="w3-container">
	<h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
	<a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
	<a href="/admin" class="w3-bar-item w3-button w3-padding"><i class="fa fa-dashboard fa-fw"></i>  Overview</a>
	<a href="/admin/teachers" class="w3-bar-item w3-button w3-padding"><i class="fa fa-book fa-fw"></i>  Teachers</a>
	<a href="/admin/parents" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Parents</a>
	<a href="/admin/teachers" class="w3-bar-item w3-button w3-padding"><i class="fa fa-mortar-board fa-fw"></i>  Students</a>
	<a href="/admin/settings" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
    </div>
</nav>
{{end}}
