{{define "content"}}
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-book"></i> Teachers</b></h5>
</header>

<div class="w3-container">
    <div class="w3-content">
	<div class="w3-row">
	    {{range .Teachers}}
	    <div class="w3-col s12 m4 w3-padding-large">
		<div class="w3-card w3-padding-large w3-white">
		    <span>Name: {{.FirstName}} {{.LastName}}</span><br />
		    <span>Email: {{.Email}}</span><br />
		</div>
	    </div>
	    {{end}}
	</div>
    </div>
</div>
{{end}}
