{{define "nav"}}
<div class="w3-bar w3-white w3-large">
    <a href="/" class="w3-bar-item w3-button w3-red">EduMan</a>
    <a href="/about" class="w3-bar-item w3-button">About</a>
    <a href="/contact" class="w3-bar-item w3-button">Contact</a>
</div>
{{end}}
